.bonus {
 	z-index: 100 !important;
}

body .fsgo .content .player-wrapper iframe#p0 {
	width: 100% !important;
	position: fixed !important;
 	left: 0 !important;
 	top: 0px !important;
 	width: 100% !important;
 	height: 100% !important;
}

.header {
	z-index: 15 !important;
}

.footer {
	z-index: 0 !important;
}