#vp2k_container {	
	position: fixed !important;
    top: 0px !important;
    left: 0px !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 10000 !important;
}

.liveplayer-inner {
	position: initial !important;
}