.header {
	display: none;
}

.page {
	width: 100% !important;
	height: 100% !important;
}

.content {
	padding: 0px !important;
	width: 100%;
	height: 100%;
}

#mainContainer {
	margin: 0px !important;
}

#scorestrip, #statsBox, #footer, #snsBox, .playerHeader {
	display: none !important;
}

#mainContainer #playBox.big #player #playerObject, #mainContainer #playBox.big #player #playerObjectInfo {
	width: 100% !important;
	height: 100% !important;
	margin: 0px !important;
}

#mainContainer #playBox #player #playerObject, #mainContainer #playBox #player #playerObjectInfo {
	position: absolute;
	top: -20px !important;
}