#flash-content-wrapper {
    width: 1920px;
    height: 1080px;
    position: relative;
    z-index: 1000;
    left: 0px;
    top: 0px;
    
}

.topbar, .column-right {
    display: none;
}

#major-events-scroll,
#match-summary {
	display: none;
}

body {
	width: 100%;
	height: 100%;
}

#nbc-header, #nbc-footer {
	display: none;
}

.live-extra-promo {
	display: none;
}

#nbc-content {
	width: 100% !important;
	height: 100% !important;
	margin: 0px !important;
}

.main-wrapper {
	padding: 0px !important;
}

#linearPlayerFrame {
	width: 100% !important;
	height: 100% !important;
}

#contentAccessEnablerWrapper {
	width: 0px !important;
	height: 0px !important;
}

div::-webkit-scrollbar, iframe::-webkit-scrollbar {
	display: none;
}

.no-pencil-ad #player-wrapper {
	padding-bottom: 0px !important;
}