#player object {
    position: fixed !important;
    top: 0px !important;
    left: 0px !important;
    z-index: 99999 !important;
    width: 75% !important;
}

body {
    overflow: hidden !important;
}

.chat-box {
    position: fixed !important;
    top: 0px !important;
    right: 0px !important;
}