#video-player.bonus object {
	position: fixed !important;
	left: 0px !important;
	top: 0px !important;
	z-index: 100;
}

#video-player object {
	position: fixed !important;
	left: 0px !important;
	top: -55px !important;
	z-index: 100;
}